<div class="form-section">
  <h1>Thank You</h1>
  <p>Please check your email for further instructions on starting your trial. Don't see the email? Check your spam folder or click <a href="#">here</a> to resend it. Still having trouble? Contact <%= mail_to "support@gaggleamp.com", "Support" %>.
</div>
